body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
	  html { height: 100% }
	  body { height: 100%; margin: 0; padding: 0 }	
#map-canvas { height: 600px }
.container{
	width:100%;
}

